{% extends 'ndr_core/admin_views/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <a href="{% url 'ndr_core:dashboard' %}" class="btn btn-outline-secondary " role="button">Dashboard</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Password changed</h5>
            <form method="post">{% csrf_token %}
                <p>Your Password has been changed.</p>
            </form>
        </div>
    </div>
{% endblock %}
