{% extends 'ndr_core/admin_views/base.html' %}
{% load django_tables2 %}

{% block content %}
    <h2><i class="fa-regular fa-magnifying-glass"></i> Configure Search Forms</h2>
    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Options</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:create_search' %}" class="list-group-item list-group-item-action py-2{% if search_fields.count == 0 %} disabled{% endif %}">
                        <i class="fa-regular fa-magnifying-glass"></i>
                        Create New Search Configuration
                    </a>
                    <a href="{% url 'ndr_core:create_search_field' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-table-list"></i>
                        Create New Search Field
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'search' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-circle-info"></i>
                        Help
                    </a>
                </div>

                <p></p>
                <h5 class="card-title">Create typical search fields</h5>
                <div class="list-group">
                    {% for schema in schemas %}
                        <a href="{% url 'ndr_core:create_fields_from_schema' schema.pk %}" class="list-group-item list-group-item-action py-2">
                            <i class="fa-regular fa-file-code"></i>
                            {{ schema.schema_label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Configured Searches</h5>
                <ul class="list-group">
                    {% if search_fields.count == 0 %}
                        <div class="alert alert-warning small" role="alert">
                            <i class="fa-regular fa-circle-exclamation"></i>
                            You need to create at least one Search Field before you can create a Search Configuration.
                        </div>
                    {% endif %}
                    {% for search in searches %}
                        <li class="list-group-item list-group-item-action d-flex py-2">
                            <p class="p-0 m-0 flex-grow-1">
                                <i class="fa-regular fa-search"></i> {{ search.conf_label }} ({{ search.conf_name }})
                            </p>

                            <p class="p-0 m-0">
                                <a href="{% url 'ndr_core:edit_search' search.pk %}" class="btn btn-sm btn-secondary">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'ndr_core:delete_search' search.pk %}" class="btn btn-sm btn-danger">
                                    <i class="fa-regular fa-delete-left"></i>
                                </a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Search Fields</h5>
                <ul class="list-group">
                    {% for field in search_fields %}
                        <li class="list-group-item list-group-item-action d-flex py-2">
                            <p class="p-0 m-0 flex-grow-1">
                                <i class="fa-regular fa-square"></i> {{ field.field_label }} ({{ field.get_field_type_display }}: {{ field.field_name }})
                            </p>

                            <p class="p-0 m-0">
                                <a href="{% url 'ndr_core:edit_search_field' field.pk %}" class="btn btn-sm btn-secondary">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'ndr_core:delete_search_field' field.pk %}" class="btn btn-sm btn-danger">
                                    <i class="fa-regular fa-delete-left"></i>
                                </a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title"></h5>

            </div>
        </div>
    </div>

    <div class="alert alert-info small" role="alert">
        <i class="fa-regular fa-circle-info"></i>
        Search Forms consist of an API configuration and a number of SearchFields
    </div>

{% endblock %}