{% extends 'ndr_core/admin_views/base.html' %}
{% load django_tables2 %}
{% load ndr_utils %}

{% block content %}
    <h2><i class="fa-regular fa-file-code"></i> Manage Sample Data</h2>

    {% if not apis %}
        <div class="alert alert-danger" role="alert">
            <i class="fa-regular fa-circle-exclamation"></i>
            Sample Data is associated with an <a href="{% url 'ndr_core:configure_api' %}">API Configuration</a>. Create a configuration first.
        </div>
    {% endif %}

    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Options</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:upload_sample_data' %}" class="list-group-item list-group-item-action py-2{% if not apis %} disabled{% endif %}">
                        <i class="fa-regular fa-file-arrow-up"></i>
                        Upload Sample Data File
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'test' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-circle-info"></i>
                        Help
                    </a>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-height: 50vh;">
            <div class="overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Uploaded Files</h5>

                    {% for api in apis %}
                        <h6 class="card-title">{{ api.api_label }}</h6>
                        <ul class="list-group pb-3">
                            {% for file in files|key_value:api.api_name %}
                                <li class="list-group-item list-group-item-action d-flex py-2">
                                    <p class="p-0 m-0 flex-grow-1">
                                        <i class="fa-regular fa-file"></i>
                                        <a href="{% url 'ndr_core:view_sample_data' api.pk file %}"{% if request.resolver_match.kwargs.filename == file %} class="bg-selected"{% endif%}>{{ file }}</a>
                                    </p>

                                    <p class="p-0 m-0">
                                        <a href="{% url 'ndr_core:delete_sample_data_file' api.pk file %}" class="btn btn-sm btn-danger">
                                            <i class="fa-regular fa-delete-left"></i>
                                        </a>
                                    </p>
                                </li>
                            {% endfor %}
                            {% if files|key_value:api.api_name|length == 0%}
                                <li class="list-group-item list-group-item-action d-flex py-2">
                                    <i>No files.</i>
                                </li>
                            {% endif %}
                        </ul>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {% if file_contents %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5>{{ object.api_label }}: {{ file_name }}</h5>
                <pre>{{ file_contents | linebreaks }}</pre>
            </div>
        </div>
    {% endif %}

    <div class="alert alert-info small" role="alert">
        <i class="fa-regular fa-circle-info"></i>
        You can test the rendering of your results with sample data. Upload it here.
    </div>

{% endblock %}