{% extends 'ndr_core/admin_views/base.html' %}
{% load django_tables2 %}

{% block content %}
    <h2><i class="fa-regular fa-code"></i> Configure API Access</h2>
    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Options</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:create_api' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-code"></i>
                        Create New API Access Configuration
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'search' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-circle-info"></i>
                        Help
                    </a>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-height: 50vh;">
            <div class="overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Configured APIs</h5>
                    <ul class="list-group">
                        {% for api in apis %}
                            <li class="list-group-item list-group-item-action d-flex py-2 px-2{% if request.resolver_match.kwargs.pk == api.pk %} bg-selected {% endif%}">
                                <p class="p-0 m-0 flex-grow-1">
                                    <i class="fa-regular fa-code"></i>
                                    <a href="{% url 'ndr_core:view_api' api.pk %}">{{ api.api_label }}</a> ({{ api.api_name }})<br/>
                                    <small>{{ api.get_api_protocol_display }}://{{ api.api_host }}/{{ api.api_url_stub }}</small><br/>
                                    <small>Type: {{ api.api_type.label }}</small>
                                </p>

                                <p class="p-0 m-0">
                                    <div style="white-space: nowrap;">
                                        <a href="{% url 'ndr_core:edit_api' api.pk %}" class="btn btn-sm btn-secondary">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                        <a href="{% url 'ndr_core:delete_api' api.pk %}" class="btn btn-sm btn-danger">
                                            <i class="fa-regular fa-delete-left"></i>
                                        </a>
                                     </div>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if object %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ object.api_label }}</h5>
                <p>{{ object.api_description }}</p>
                <div class="container">
                    <div class="row">
                        <div class="col-3">API Name</div>
                        <div class="col">{{ object.api_name }} <small>(This name is used internally to create forms and search URLs.)</small></div>
                    </div>
                    <div class="row">
                        <div class="col-3">API Type</div>
                        <div class="col">{{ object.api_type.label }} ({{ object.api_type.name }}) <small>{{ object.api_type.description }}</small></div>
                    </div>
                    <div class="row">
                        <div class="col-3">API Request URL</div>
                        <div class="col">{{ object.get_api_protocol_display }}://{{ object.api_host }}:{{ object.api_port }}/{{ object.api_url_stub }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Number of Results per Page</div>
                        <div class="col">{{ object.api_page_size }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Username / password</div>
                        <div class="col">{{ object.api_user_name }} / {{ object.api_password }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Auth Key</div>
                        <div class="col">{{ object.api_auth_key }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="alert alert-info small" role="alert">
        <i class="fa-regular fa-circle-info"></i>
        With NDR Core, you access an API to display results. In order to create search forms, you must configure an API access.
        The preconfigured API points to your own host to test your own data.
    </div>

{% endblock %}