{% extends 'ndr_core/admin_views/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
    <h2>Ndr core dashboard</h2>
    <p>
        Welcome to the NDR core administration interface.
        Your NDR core website consists of pages of a certain type (static templates, search interfaces,
        filterable lists, contact forms). You can configure your API and your search forms and add pages
        which use them.
    </p>

    <div class="row">
        <div class="col">
            <a href="{% url 'ndr_core:configure_pages' %}" class="btn btn-primary btn-block" role="button">Create Pages</a>
        </div>
        <div class="col">
            <a href="{% url 'ndr:index' %}" class="btn btn-primary btn-block" role="button">View Your Web Page</a>
        </div>
        <div class="col">
            <a href="{% url 'ndr_core:help' %}" class="btn btn-primary btn-block" role="button">Help Page</a>
        </div>
    </div>

    <hr/>
    <br/>

    <h3>Pages in your installation</h3>
    <div class="alert alert-info small" role="alert">
        These pages will show up on your webpage in this order. Go to
        <a href="{% url 'ndr_core:configure_pages' %}" class="">Manage pages</a> to add or edit pages and to change
        their order.
    </div>
    {% render_table pages_table %}


{% endblock %}