{% extends 'ndr_core/admin_views/base.html' %}

{% block content %}
    <h2>NDR Core Help</h2>
    <div class="card-deck">
    <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">General</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:help_chapter' 'pages' %}" class="list-group-item list-group-item-action py-2{% if "/help/pages/" in request.path %} active{% endif %}">
                        How To Create Pages
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'settings' %}" class="list-group-item list-group-item-action py-2{% if "/help/settings/" in request.path %} active{% endif %}">
                        Page Settings
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'contact' %}" class="list-group-item list-group-item-action py-2{% if "/help/contact/" in request.path %} active{% endif %}">
                        Contact Forms
                    </a>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">API & Search</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:help_chapter' 'api' %}" class="list-group-item list-group-item-action py-2{% if "/help/api/" in request.path %} active{% endif %}">
                        How To Configure an API
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'search' %}" class="list-group-item list-group-item-action py-2{% if "/help/search/" in request.path %} active{% endif %}">
                        How To Configure a Search
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'test' %}" class="list-group-item list-group-item-action py-2{% if "/help/test/" in request.path %} active{% endif %}">
                        How To Test Your Settings
                    </a>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">UI</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:help_chapter' 'ui_style' %}" class="list-group-item list-group-item-action py-2{% if "/help/ui_style/" in request.path %} active{% endif %}">
                        How To Change Your UI Style
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'colors' %}" class="list-group-item list-group-item-action py-2{% if "/help/colors/" in request.path %} active{% endif %}">
                        How to Change Colors
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'ui_advanced' %}" class="list-group-item list-group-item-action py-2{% if "/help/ui_advanced/" in request.path %} active{% endif %}">
                        How To Create Your Own UI Style
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if chapter %}
        {% include 'ndr_core/admin_views/help/'|add:chapter|add:".html" %}
    {% endif %}


{% endblock %}