{% extends 'ndr_core/admin_views/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <a href="{% url 'ndr_core:configure_search' %}" class="btn btn-outline-secondary " role="button">Go Back</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Create New Search Configuration</h5>
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'ndr_core/js/admin/form_preview.js' %}"></script>

    <script>
        $(document).ready(function(){
            let imageBaseUrl = "{% url 'ndr_core:preview_image' 'image_string' %}";
            configureRows(20, imageBaseUrl);
            initializeAddAndRemoveButtons();

            // When document is ready:
            // Hide remove row
            $('#button-id-remove_row').hide();
            // Hide rows 2-20
            for (let i = 1; i < 20; i++) {
              $('#search_field_config_row_'+i).hide();
            }

        });
    </script>
{% endblock %}