requests==2.33.1
Django==6.0.3
django-bootstrap5==26.2
django-crispy-forms==2.6
django-tables2==2.9.0
django_select2==8.4.8
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-recaptcha==4.1.0
django-colorfield==0.14.0
fontawesomefree==6.6.0
Pillow==12.2.0
geoip2==5.2.0
pymongo==4.16.0
crispy-bootstrap5==2026.3
django-bootstrap-daterangepicker==1.1.0
pandas==3.0.2
setuptools==82.0.1
sphinx==9.1.0
sphinx_rtd_theme==3.1.0
readthedocs-sphinx-search==0.3.2
django_filter==25.2