requests~=2.28.1
Django==4.2
django-bootstrap4==23.1
django-crispy-forms==2.0
django-tables2==2.5.3
django_select2==8.1.1
django-ckeditor~=6.5.1
django-recaptcha~=3.0.0
django-colorfield~=0.8.0
fontawesomefree==6.4.0
Pillow==9.5.0
geoip2~=4.6.0
pymongo~=4.3
crispy-bootstrap4>=2022.1
django-bootstrap-daterangepicker~=1.1.0
pandas==2.0.1
setuptools==67.7.2
sphinx==6.2.1
sphinx_rtd_theme==1.2.0
readthedocs-sphinx-search==0.3.1
django_filter==23.1