@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
}

body p {
    font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Georgia", serif;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

 @media (max-width: 1024px) {
    .container {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        paddng: 0 !important;
    }
 }