@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
}

body p {
    font-weight:400;
}

.select2-container {
    width: 100% !important;

}

.select2-selection {
  border: 1px solid #ced4da !important;
  border-radius: 7px;
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.select2-dropdown {
  background-color: white;
  border-left: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;

  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.select2-search__field {
  margin-top: 7px !important;
  margin-left: 12px !important;
  padding-top: 0px !important;
  height: 24px !important;
}

.select2-results__option--highlighted[aria-selected] {
     background-color: var(--secondary) !important;
     color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Georgia", serif;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

 @media (max-width: 1024px) {
    .container {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        paddng: 0 !important;
    }
 }