/* to display color palettes in admin interface */
.palette-display {
    min-width: 15px;
    height: 15px;
    border-radius: 4px;
    border-color: black;
}

/* small text for cards in admin interface (which is most of the text) */
.card-text {
    font-size: small;
}

.col img{
    height:100px;
    width: 100%;
    cursor: pointer;
    transition: transform 1s;
    object-fit: cover;
}

.col label{
    overflow: hidden;
    position: relative;
}

/* Selected list objects in admin interface */
.bg-selected {
    background: #cccccc;
}

.bg-selected:hover {
    background: #cccccc;
}

:disabled {
    background: #cccccc !important;
}