<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    {% if data.show_indicators %}
        <ol class="carousel-indicators">
            {% for slide in data.slides %}
                <li data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter }}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class="carousel-inner">
        {% for slide in data.items %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                <img class="d-block w-100" src="{{ slide.ndr_image.image.url }}" alt="{{ slide.title }}">
                    <div class="carousel-caption d-none d-md-block bg-dark p-3">
                        {% if slide.title %}
                            <h5>{{ slide.title }}</h5>
                        {% endif %}
                        {% if slide.text %}
                            <p>{{ slide.text }}</p>
                        {% endif %}
                    </div>
            </div>
        {% endfor %}
    </div>
    {% if data.show_indicators %}
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    {% endif %}
</div>