{% extends 'ndr/base.html' %}
{% load crispy_forms_tags %}

<!-- You can overwrite the page title -->
{# block page_title #}
{# endblock #}

<!-- You can overwrite the page's content -->
{# block content #}
{# endblock #}

<!-- This block gets regenerated when you edit the page in the administration interface.
     Be aware of this when changing it manually -->
{% block generated_content %}

    {% if result %}
        <h4 class="mt-4">Search Results
            <div class="btn-group float-right">
                <a href="#" type="button" class="btn btn-sm btn-outline-secondary ">refine search</a>
                <a href="#" type="button" class="btn btn-sm btn-outline-secondary float-right">start a new search</a>
            </div>
        </h4>
        {% include 'ndr_core/messages.html' %}

        <div class="mb-2">Your search returned {{ meta.total }} results, showing page {{ meta.page }} of {{ meta.num_pages }}.</div>

        {% for result_line in result %}

        {% endfor %}

    {% else %}
        <h4 class="mt-4"></h4>
        {% include 'ndr_core/messages.html' %}
        {% crispy form %}
    {% endif %}

{% endblock %}