{% extends 'ndr/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

<!-- You can overwrite the page title -->
{# block page_title #}
{# endblock #}

<!-- You can overwrite the page's content -->
{# block content #}
{# endblock #}

<!-- This block gets regenerated when you edit the page in the administration interface.
     Be aware of this when changing it manually -->
{% block generated_content %}

    {% if result %}
        <h4 class="mt-4">
            {% translate 'Search Results' %}
            <div class="btn-group float-right">
                <a href="#" type="button" class="btn btn-sm btn-outline-secondary ">
                    {% translate 'refine search' %}
                </a>
                <a href="#" type="button" class="btn btn-sm btn-outline-secondary float-right">
                    {% translate 'start a search' %}
                </a>
            </div>
        </h4>
        {% include 'ndr_core/messages.html' %}

        <div class="mb-2">
            {% blocktrans %}
                Your search returned {{ meta.total }} results, showing page {{ meta.page }} of {{ meta.num_pages }}.
            {% endblocktrans %}
        </div>

        {% for result_line in result %}

        {% endfor %}

    {% else %}
        <h4 class="mt-4"></h4>
        {% include 'ndr_core/messages.html' %}
        {% crispy form %}
    {% endif %}

{% endblock %}