{% extends 'ndr/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{# block page_title #}
{# endblock #}

{# block content #}
{# endblock #}

{% block generated_content %}

    <div class="card mb-2 box-shadow">
        <div class="card-body d-flex flex-column">
            <p class="pb-3 mb-3"> {% translate 'Fill in the form below to contact us with any queries.' %}  </p>
            {% include 'ndr_core/messages.html' %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}