{% extends 'ndr/base.html' %}
{% load i18n %}

{# block page_title #}
{# endblock #}

{# block content #}
{# endblock #}

{% block generated_content %}
    <!-- Filter form -->
    {% crispy form %}

    <div class="mb-2">
        {% blocktrans %}
            Showing {{ meta.total }} items. Showing page {{ meta.page }} of {{ meta.num_pages }}.
        {% endblocktrans %}
    </div>

    {% for result in results %}
        {# show_source_card result #}
        TODO Result dummy
    {% endfor %}

{% endblock %}