{% extends 'ndr/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load ndr_utils %}
{% load i18n %}

{% block generated_content %}

    {% if result %}
        <h4 class="mt-4">
            {% translate 'Search Results' %}
            <div class="btn-group float-right">
                <a href="{{ result.form_links.refine }}" type="button" class="btn btn-sm btn-outline-secondary ">
                    {% translate 'refine search' %}
                </a>
                <a href="{{ result.form_links.new }}" type="button" class="btn btn-sm btn-outline-secondary float-right">
                    {% translate 'start a new search' %}
                </a>
            </div>
        </h4>
        {% include 'ndr_core/messages.html' %}

        <div class="mb-2">
            {% blocktranslate %}
                Your search returned {{ result.total }} results, showing page {{ result.page }} of {{ result.num_pages }}.
            {% endblocktranslate %}
        </div>

        {% for result_line in result.results %}
            {% render_result result_line api_config %}
        {% endfor %}

        {% include 'ndr_core/pagination.html' %}

    {% else %}
        <h4 class="mt-4"></h4>
        {% include 'ndr_core/messages.html' %}
        {% crispy form %}
    {% endif %}

{% endblock %}

{% block page_js %}
    <script src="{% static 'ndr_core/js/ui_js/copy_to_clipboard.js' %}"></script>
{% endblock %}