{% extends 'ndr_core/admin_views/edit/_edit.html' %}
{% load static %}

{% block back_url %}
    {% url 'ndr_core:configure_search' %}
{% endblock %}

{% block title %}
    Update Configuration
{% endblock %}

{% block page_js %}
    <script src="{% static 'ndr_core/js/admin/search_form_preview.js' %}"></script>
    <script>
        $(document).ready(function(){
            let imageBaseUrl = "{% url 'ndr_core:preview_search_form_image' 'image_string' %}";
            configureRows(20, imageBaseUrl);

            let visible_buttons = 1;
            for(let i = 0; i < 20; i++){
                if($('#id_search_field_' + i).val() === '') {
                    $('#search_field_config_row_' + i).hide();
                }
                else {
                    visible_buttons++;
                }
            }

            initializeAddAndRemoveButtons(visible_buttons);

            let maskedUrl = getMaskedUrl(imageBaseUrl);
            let previewImage = $('#preview_search_form_image');
            previewImage.attr('src', maskedUrl);
        });
    </script>
{% endblock %}
