{% extends 'ndr_core/admin_views/edit/_edit.html' %}
{% load static %}

{% block back_url %}
    {% url 'ndr_core:configure_search' %}
{% endblock %}

{% block title %}
    Configure Search Form Configuration
{% endblock %}

{% block page_js %}
    <script src="{% static 'ndr_core/js/admin/preview.js' %}"></script>
    <script src="{% static 'ndr_core/js/admin/search_form_preview.js' %}"></script>
    <script>
        $(document).ready(function(){
            let imageBaseUrl = "{% url 'ndr_core:preview_search_form_image' 'image_string' %}";
            init_search_form_preview(imageBaseUrl);
        });
    </script>
{% endblock %}
