{% extends 'ndr_core/admin_views/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
{{ form.media.css }}
{% include 'ndr_core/admin_views/includes/image_picker_init_css.html' %}
{% endblock %}

{% block content %}
    <h2><i class="fa-regular fa-square"></i> Edit Card UI Element</h2>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>

    <div class="text-center">
        <a href="{% url 'ndr_core:configure_ui_elements' %}" class="btn btn-secondary">
            <i class="fa-regular fa-arrow-left"></i> Back to UI Elements
        </a>
    </div>
{% endblock %}

{% block page_js %}
{{ form.media.js }}
{% include 'ndr_core/admin_views/includes/image_picker_init_js.html' %}
{% endblock %}
