{% load static %}
{% load ndr_values %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="{% config_value 'header_description' %}">
<meta name="author" content="{% config_value 'header_author' %}">
<link rel="icon" href="{% static 'ndr_core/images/favicon.ico' %}">
<title>{% config_value 'header_default_title' %}</title>
<link href="{% static 'ndr_core/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'ndr_core/plugins/owl.carousel/dist/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'ndr_core/plugins/owl.carousel/dist/assets/owl.theme.default.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'ndr_core/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{% static 'ndr_core/plugins/owl.carousel/dist/owl.carousel.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<link href="{% static 'ndr_core/css/custom_select2.css' %}" rel="stylesheet" type="text/css">
<style>
    .notification-box {
        margin: 0; !important;
    }

    .notification-box span {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 5px;
        padding: .3em;
        color: white;
        font-size: .9em;
        display: none;
    }
</style>