{% load static %}
{% load ndr_values %}
{% load ndr_navigation %}

{% config_value 'main_view' as logo_view_name %}

<!doctype html>
<html lang="en">
    <head>
        <meta name="description" content="{% config_value 'header_description' %}">
        <meta name="author" content="{% config_value 'header_author' %}">
        <link rel="icon" href="{% static 'ndr_core/images/favicon.ico' %}">
        <title>{% config_value 'header_default_title' %}</title>
        <link href="{% static 'ndr_core/css/bootstrap.css' %}" rel="stylesheet">

        <link href="{% static 'ndr_core/css/ndr_core_default.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'ndr_core/js/jquery.min.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    </head>

    <body>
        <div>
            <div class="container">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4 pt-1">
                            {% block logo %}
                                <a class="blog-header-logo text-dark" href="/">NDR CORE</a>
                            {% endblock logo %}
                        </div>

                        <div class="col-4 text-center">
                        </div>

                        <div class="col-4 d-flex justify-content-end align-items-center navbar-light d-xl-none d-lg-none">
                            <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links" aria-controls="links" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon "></span>
                            </button>
                        </div>
                    </div>

                    <div class="py-1 mb-2 ml-0 d-xl-block d-lg-block d-none" id="links"> <!-- desktop - lg/xl only -->
                        <nav class="nav d-flex justify-content-between border-top">
                             {% print_navigation %}
                        </nav>
                    </div>

                    <div class="collapse py-1 mb-2 ml-0 d-xl-none d-lg-none" id="links"> <!-- mobile - all other sizes -->
                        <nav class="d-flex flex-column">
                            {% print_navigation %}
                        </nav>
                    </div>
                </header>
            </div>
        </div>  <!-- end of navigation -->

        <div class="container">
            {% block page_title %}
                <h1>{{ page.name }}</h1>
            {% endblock %}

            {% block generated_content %}
            {% endblock %}

            {% block content %}
                {{ page.template_text|safe }}
            {% endblock %}

        </div>

    {% block footer %}
        NDR core
    {% endblock %}



        <script src="{% static 'ndr_core/js/popper.min.js' %}"></script>
        <script src="{% static 'ndr_core/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'fontawesome/js/all.min.js' %}"></script>

    </body>
</html>
