{% extends 'ndr_core/admin_views/base.html' %}

{% block content %}
    <h2><i class="fa-regular fa-check-double"></i> Manage Corrections</h2>

    <!-- Options Bar -->
    <div class="d-flex flex-wrap align-items-center bg-light border rounded p-2 mb-3">
        <div class="me-auto">
            {% if correction_enabled %}
                <a href="{% url 'ndr_core:set_correction_option' 'false' %}" class="btn btn-sm btn-warning m-1">
                    <i class="fa-regular fa-toggle-on"></i> Disable Corrections
                </a>
            {% else %}
                <a href="{% url 'ndr_core:set_correction_option' 'true' %}" class="btn btn-sm btn-success m-1">
                    <i class="fa-regular fa-toggle-off"></i> Enable Corrections
                </a>
            {% endif %}
            <a href="{% url 'ndr_core:set_correction_option' 'true' %}" class="btn btn-sm btn-secondary m-1">
                <i class="fa-regular fa-file-export"></i> Export to TSV
            </a>
        </div>
        <div>
            <span class="me-2">
                Status: {% if correction_enabled %}<strong class="text-success">Enabled</strong>{% else %}<strong class="text-danger">Disabled</strong>{% endif %}
            </span>
            <a href="{% url 'ndr_core:help_chapter' 'corrections' %}" class="btn btn-sm btn-outline-secondary m-1">
                <i class="fa-regular fa-circle-info"></i> Help
            </a>
        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">Open Suggestions</h5>
            <ul class="list-group">
                {% for api in apis %}
                        <li class="list-group-item list-group-item-action d-flex py-2">
                            <p class="p-0 m-0 flex-grow-1">
                                <i class="fa-regular fa-code"></i> {{ api.api_label }} ({{ api.api_name }})
                            </p>

                            <p class="p-0 m-0">
                                <a href="{% url 'ndr_core:edit_api' api.id %}" class="btn btn-sm btn-secondary">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'ndr_core:delete_api' api.id %}" class="btn btn-sm btn-danger">
                                    <i class="fa-regular fa-delete-left"></i>
                                </a>
                            </p>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="alert alert-info small" role="alert">
        <i class="fa-regular fa-circle-info"></i>
        Users can mark returned results if they think they need corrections.
    </div>

{% endblock %}