{% extends 'ndr_core/admin_views/base.html' %}

{% block content %}
    <h2>UI Elements</h2>
    <div class="card-deck">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Options</h5>
                <div class="list-group">
                    <a href="{% url 'ndr_core:create_ui_element' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-plus-circle"></i>
                        Create New UI Element
                    </a>
                    <a href="{% url 'ndr_core:help_chapter' 'ui_elements' %}" class="list-group-item list-group-item-action py-2">
                        <i class="fa-regular fa-circle-info"></i>
                        Help
                    </a>
                </div>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Configured Elements</h5>
                <ul class="list-group">
                    {% for element in ui_elements %}
                        <li class="list-group-item list-group-item-action d-flex py-2">
                            <p class="p-0 m-0 flex-grow-1">
                                <i class="fa-regular fa-window-restore"></i> <a href="{% url 'ndr_core:view_ui_element' element.pk %}">{{ element.name }}</a>
                                <span class="badge badge-secondary">{{ element.type }}</span>
                            </p>

                            <p class="p-0 m-0">
                                <a href="{% url 'ndr_core:edit_ui_element' element.pk %}" class="btn btn-sm btn-secondary">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <a href="{% url 'ndr_core:delete_ui_element' element.pk %}" class="btn btn-sm btn-danger">
                                    <i class="fa-regular fa-delete-left"></i>
                                </a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% if object %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Preview: {{ object.name }}</h5>
                {% if object.type == "card" %}
                    {% include 'ndr_core/ui_elements/card.html' with data=object %}
                {% elif object.type == "slides" %}
                    {% include 'ndr_core/ui_elements/slideshow.html' with data=object %}
                {% elif object.type == "carousel" %}
                    {% include 'ndr_core/ui_elements/carousel.html' with data=object %}
                {% elif object.type == "banner" %}
                    {% include 'ndr_core/ui_elements/banner.html' with data=object %}
                {% elif object.type == "jumbotron" %}
                    {% include 'ndr_core/ui_elements/jumbotron.html' with data=object %}
                {% elif object.type == "iframe" %}
                    {% include 'ndr_core/ui_elements/iframe.html' with data=object %}
                {% elif object.type == "manifest_viewer" %}
                    {% include 'ndr_core/ui_elements/manifest_viewer.html' with data=object %}
                {% endif %}

            </div>
            <div class="card-footer text-center">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <span>To include this element, copy this into your page text:</span>
                            <span>
                                <input type="text" value="[[{{ object.type }}|{{ object.name }}]]" class="ml-2 form-control"> <!-- ml-2 for margin-left -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="alert alert-info small" role="alert">
        <i class="fa-regular fa-circle-info"></i>
    </div>

{% endblock %}